.body {
    height: 100%;
    margin: 0;
}

.vcard-background{
    background-color: rgba(63, 142, 252, 0.2);
    margin-top: 67.5px;
    height: calc(100vh - 67.5px);
}
.oval {
    text-align: center;
    height: 100%;
    background: white;
    border-radius: 40px;
    border: solid;
    border-color: black;
}

.oval p, h2, h3 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-label {
    min-width: 100px !important;
}

.login-input {
    width: 40%;
}

.iphone {
    width: 85%;
    padding-left: 10px;
    height: 60%;
}

.iphone-shape {
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 40px;
    border: solid;
    border-width: 6px;
    border-color: black;

}

.login-info {
    height: 12%;
}

.iphone-option{
    width: 50%;
    height: 90%;
    justify-content: center;
    top: 2px;
    padding: 5px 5px;
    cursor: pointer;
    -webkit-user-select: none;
    &:active{
        opacity: 0.7;
    }

}
.preview-option{
    left: 5px;
}
.qr-option{
    right: 5px;
}